// * Color
$color-black: #222124;
$color-purple:#800A7A;
$color-yellow-gradient:linear-gradient(315.49deg, #FFC85C 1.32%, #F1B301 96.68%);
$color-white-grey-1: #e5e5e5;
$color-white-grey-2: #F5F5F5;
$color-gray-line:#979797;
$color-gray-line-20:#9797972E;
$color-yellow: #F1B301;
$color-dark-blue:#003846;
$color-white-20:#FFFFFF34;
$color-orange:#E76A06;
$color-pink:#FC96F7;

// * Border Radius
$border-radius-circle: 50%;
$border-radius-46: 46px;
$border-radius-27: 27px;
$border-radius-12: 12px;
$border-radius-19: 19px;


